<h1>Editare informații <span class="cont">cont</span></h1>

<div class="elements">
  <ul>
    <li routerLink="/my-account">Contul meu</li>
    <li routerLink="/added-tests">Teste adăugate de mine</li>
    <li routerLink="/completed-tests">Testele parcurse de mine</li>
    <li routerLink="/favorite-tests">Preferate</li>
    <li routerLink="/edit-account">Informații cont</li>
  </ul>
  <form>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value="firstName"
      required
    />
    <input
      type="text"
      id="lastName"
      name="lastName"
      value="lastName"
      required
    />
    <input
      type="email"
      id="email"
      name="email"
      value="example@gmail.com"
      required
    />

    <mat-checkbox>Modificați parola</mat-checkbox>
    <input
      type="password"
      id="password"
      name="password"
      value="password"
      required
    />
    <input
      type=""
      id="new-password1"
      name="password"
      value="Parola nouă"
      required
    />
    <input
      type=""
      id="new-password2"
      name="password"
      value="Confirmă noua parolă"
      required
    />

    <button mat-raised-button>Actualizează</button>
  </form>
</div>
