* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 75%;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(1, 13, 21, 0.5), 0 0 20px rgba(2, 30, 47, 0.3);
  background-color: #fff;
  margin-left: 10%;
  margin-top: 5%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.left,
.middle,
.right {
  flex: 1;
  text-align: center;
  color: #333;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(8, 33, 49, 0.5), 0 0 20px rgba(0, 49, 79, 0.3);
  margin-top: -15px;
  width: 80%;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.answers .left,
.answers .right {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1em;
  margin: 2%;
  border-radius: 10px;

  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(7, 46, 71, 0.5), 0 0 20px rgba(2, 59, 94, 0.3);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #333;
}

button:hover {
  background-color: #25283d;
  color: #ffffff;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
}
.next {
  margin-top: 6px;
  margin-left: 80%;
}

.finish {
  margin-top: 6px;
  margin-left: 80%;
}
.question {
  margin-top: 15px;
}
.answers button.selected {
  background-color: #3498db;
  color: #fff;
}