<button mat-raised-button class="backBtn" routerLink="/my-account">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Back
</button>
<h2 class="title">Leaderboard</h2>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of users
          | slice
            : currentPage * itemsPerPage
            : (currentPage + 1) * itemsPerPage
      "
    >
      <td>{{ user.rank }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.score }}</td>
      <td>{{ user.time }}</td>
    </tr>
  </tbody>
</table>

<button class="btn" [disabled]="currentPage === 0" (click)="prevPage()">
  Previous
</button>
<span>Page {{ currentPage + 1 }} of {{ pageCount() }}</span>
<button
  class="btn"
  [disabled]="currentPage >= users.length / itemsPerPage - 1"
  (click)="nextPage()"
>
  Next
</button>

<div *ngIf="testResult" class="test-result">
  <h3>Your Test Result:</h3>
  <p>Score: {{ testResult.score }}</p>
  <p>Time: {{ testResult.time }}</p>
</div>
