<div class="container">
    <div class="test-name">
        <h2>Test Name</h2>
        <!-- Add more details about the test here if needed -->
    </div>
    <div class="leaderboard">
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | slice: (currentPage * itemsPerPage) : ((currentPage + 1) * itemsPerPage)">
                    <td>{{ user.rank }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.score }}</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination-controls">
            <button [disabled]="currentPage === 0" (click)="prevPage()">Previous</button>
            <span>Page {{ currentPage + 1 }} of {{ pageCount() }}</span>
            <button [disabled]="currentPage >= users.length/itemsPerPage - 1" (click)="nextPage()">Next</button>
        </div>
    </div>
</div>
