<button mat-raised-button class="backBtn" (click)="goBack()">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Back
</button>

<h2 class="title">Leaderboard</h2>
<table>
  <thead>
    <tr>
      <th>Rang</th>
      <th>Nume</th>
      <th>Scor</th>
      <th>Timp</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of users
          | slice
            : currentPage * itemsPerPage
            : (currentPage + 1) * itemsPerPage;
        let i = index
      "
    >
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.score }}</td>
      <td>
        {{
          floor(user.time / 60)
            .toString()
            .padStart(2, "0") +
            ":" +
            (user.time % 60).toString().padStart(2, "0")
        }}
      </td>
    </tr>
  </tbody>
</table>

<button class="btn" [disabled]="currentPage === 0" (click)="prevPage()">
  Înapoi
</button>
<span>Pagina {{ currentPage + 1 }} din {{ pageCount() }}</span>
<button
  class="btn"
  [disabled]="currentPage >= users.length / itemsPerPage - 1"
  (click)="nextPage()"
>
  Înainte
</button>

<div *ngIf="testResult" class="test-result">
  <h3>Rezultatul tău:</h3>
  <p>Scor: {{ testResult.score }}</p>
  <p>Timp: {{ testResult.time }}</p>
</div>
