.header-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 30px;
  text-align: right;
  color: lightgray;
  box-shadow: 0px 8px 8px lightgray;
  padding: 10px 24px 10px 24px;
  position: relative;
  background-color: #25283d;
}
.header-content button {
  border: 1px solid lightgray;
  margin-left: 16px;
  color: #25283d;
  font-size: 15px;
}

.logo {
  height: 40px;
  width: 150px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}
.button {
  border-radius: 4px;
}
.button:hover {
  cursor: pointer;
}
