<div
  class="add-own-test-container"
  *ngIf="currentState === 'selectDomainLengthDuration'"
>
  <h1>Adaugă propriul test</h1>
  <div class="share-domain-container">
    <div class="select-container">
      <label for="domainSelect">Domeniu:</label>
      <select
        id="domainSelect"
        name="domainSelect"
        [(ngModel)]="selectedDomain"
        required
        (ngModelChange)="updateDisableButtons()"
      >
        <option value="biology">Biologie</option>
        <option value="physics">Fizică</option>
        <option value="math">Matematică</option>
        <option value="informatics">Informatică</option>
        <option value="economics">Economie</option>
        <option value="geography">Geografie</option>
        <option value="science">Știinte</option>
        <option value="astronomy">Astronomie</option>
      </select>
    </div>
    <div class="select-container">
      <label for="quizDuration">Durată (minute):</label>
      <input
        type="number"
        id="quizDuration"
        name="quizDuration"
        [(ngModel)]="quizDuration"
        required
        (ngModelChange)="updateDisableButtons()"
        min="0"
        max="60"
      />
    </div>

    <div class="select-container">
      <label for="quizLength">Număr de întrebări:</label>
      <input
        type="number"
        id="quizLength"
        name="quizLength"
        [(ngModel)]="quizLength"
        required
        (ngModelChange)="updateDisableButtons()"
        min="0"
        max="30"
      />
    </div>
  </div>
  <button
    type="button"
    (click)="submitParameters()"
    [disabled]="disableButtons"
  >
    Next
  </button>
</div>

<div class="add-question" *ngIf="currentState === 'enterQuestions'">
  <h1>Întrebarea {{ currentQuestion + 1 }} / {{ quizLength }}</h1>
  <form (ngSubmit)="submitQuestion()" #questionForm="ngForm">
    <label for="questionText">Text întrebare:</label>
    <textarea
      id="questionText"
      name="questionText"
      [(ngModel)]="questionText"
      required
      (ngModelChange)="updateDisableButtons()"
    ></textarea>

    <label for="answer1">Răspuns 1 :</label>
    <input
      type="text"
      id="answer1"
      name="answer1"
      [(ngModel)]="raspuns[0]"
      required
      (ngModelChange)="updateDisableButtons()"
    />

    <label for="answer2">Răspuns 2 :</label>
    <input
      type="text"
      id="answer2"
      name="answer2"
      [(ngModel)]="raspuns[1]"
      required
      (ngModelChange)="updateDisableButtons()"
    />

    <label for="answer3">Răspuns 3 :</label>
    <input
      type="text"
      id="answer3"
      name="answer3"
      [(ngModel)]="raspuns[2]"
      required
      (ngModelChange)="updateDisableButtons()"
    />

    <label for="answer4">Răspuns 4 :</label>
    <input
      type="text"
      id="answer4"
      name="answer4"
      [(ngModel)]="raspuns[3]"
      required
      (ngModelChange)="updateDisableButtons()"
    />

    <label for="correctAnswer">Răspuns Corect :</label>
    <select
      id="correctAnswer"
      name="correctAnswer"
      [(ngModel)]="correctAnswer"
      required
      (ngModelChange)="updateDisableButtons()"
    >
      <option *ngFor="let answer of raspuns; let i = index" [value]="i">
        {{ "Răspuns " + (i + 1) }}
      </option>
    </select>
    <button
      type="button"
      (click)="submitQuestion()"
      [disabled]="disableButtons"
    >
      Next
    </button>
  </form>
</div>
<br />
<br />
<div class="add-own-test-container" *ngIf="currentState === 'quizComplete'">
  <div>
    <h1>
      Chestionarul tău este complet! <br />
      Începe-l acum sau dă share pentru a juca cu prietenii tăi!
    </h1>
  </div>
  <button type="button" (click)="startQuiz()" class="start-button">
    Start
  </button>
  <button type="button" (click)="shareQuiz()" class="share-button">
    Share
  </button>
</div>
