<div class="top">
  <h1>Resetare parolă</h1>
  <p>
    Pentru a trimite instrucțiunile de resetarea parolei,<br />
    completați cu email-ul.
  </p>
</div>

<form [formGroup]="formGroup" (ngSubmit)="submitForm_reset()">
  <mat-form-field appearance="outline" class="input">
    <mat-label>E-mail</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. name@gmail.com"
    />
    <mat-icon matSuffix>mail_outline</mat-icon>
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Întroduce-ți adresa de email.
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email-ul este <strong>necesar.</strong>
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    class="btn"
    type="submit"
    [disabled]="formGroup.invalid || isSent"
  >
    {{ isSent ? "Trimis" : "Trimite" }}
  </button>

  <a
    routerLink="/signin"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    id="back"
    >Înapoi la pagina înregistrează-te</a
  >
</form>
