<div class="domain-page">
    <div class="leaderboard-container">
      <h2>Clasament {{ selectedDomain }}</h2>
      <div class="content-box">
        <ul>
          <li>Player 1</li>
          <li>Player 2</li>
          <li>Player 3</li>
        </ul>
      </div>
    </div>
  
    <div class="quizzes">
      <h2>Teste</h2>
      <div class="quiz-list">
        <div *ngFor="let quiz of quizzes" class="quiz-item">
          <p>{{ quiz.title }}</p>
          <button (click)="startQuiz(quiz.title, 'singleplayer')">Incepe (Singleplayer)</button>
          <button (click)="startQuiz(quiz.title, 'multiplayer')">Incepe (Multiplayer)</button>
        </div>
      </div>
    </div>
  </div>
  