<button mat-raised-button class="backBtn" routerLink="/domains">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Inapoi
</button>

<div class="domain-page">
  <div class="leaderboard-container" *ngIf="domain">
    <h2>Clasament {{ domain.domain_name }}</h2>
    <table>
      <thead>
        <tr>
          <th>Rang</th>
          <th>Nume</th>
          <th>Scor</th>
          <th>Timp</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of leaderboardUsers
              | slice
                : currentPage * itemsPerPage
                : (currentPage + 1) * itemsPerPage
          "
        >
          <td>{{ user.rank }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.score }}</td>
          <td>
            {{
              floor(user.time / 60)
                .toString()
                .padStart(2, "0") +
                ":" +
                (user.time % 60).toString().padStart(2, "0")
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="buttons-container">
      <div class="button-container">
        <button class="btn" [disabled]="currentPage === 0" (click)="prevPage()">
          Inapoi
        </button>
      </div>
      <span>Page {{ currentPage + 1 }} of {{ pageCount() }}</span>
      <div class="button-container">
        <button
          class="btn"
          [disabled]="currentPage >= leaderboardUsers.length / itemsPerPage - 1"
          (click)="nextPage()"
        >
          Inainte
        </button>
      </div>
    </div>

    <div class="statistics">
      <p>Scor Mediu: {{ averageScore | number : "1.0-2" }}</p>
      <p>Timp Mediu: {{ averageTime | number : "1.0-2" }} minute</p>
    </div>
  </div>
  
  <div class="quizzes" *ngIf="quizzes && domain">
    <h2>Teste</h2>
    <table>
      <thead>
        <tr>
          <th>Nume Test</th>
          <th>Durată</th>
          <th>Data creării</th>
          <th>Acțiuni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quizzes">
          <td> <img src="{{ domain.icon_path }}" alt="Icon" /> {{ quiz.title }}</td>
          <td>{{ quiz.time }}</td>
          <td>{{ quiz.creation_date}}</td>
          <td class="actiuni-cell">
            <button
              mat-raised-button
              class="btn2"
              (click)="startQuiz(quiz.id_quiz, 'singleplayer')"
              routerLink="/quiz"
            >
              Singleplayer
            </button>
            <button
              mat-raised-button
              class="btn2"
              (click)="startQuiz(quiz.id_quiz, 'multiplayer')"
            >
              Multiplayer
            </button>
            <mat-icon class="favorite-icon"
            [ngClass]="{'favorite': quiz.isFavorite, 'not-favorite': !quiz.isFavorite}"
            (click)="toggleFavorite(quiz)">
    favorite
  </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
  </div>
</div>
