<div class="container" id="container">
  <div class="form-container register-container">
    <form
      action="#"
      (ngSubmit)="register(registerForm.value)"
      #registerForm="ngForm"
    >
      <h1>Să creăm un cont</h1>
      <input ngModel name="firstname" type="text" placeholder="First Name" />
      <input ngModel name="lastname" type="text" placeholder="Last Name" />
      <input ngModel name="email" type="email" placeholder="Email" />
      <input ngModel name="password" type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
      <button type="submit" id="true_register">Înregistrează-te</button>
    </form>
  </div>

  <div class="form-container login-container" *ngIf="!isLoggedIn()">
    <form (ngSubmit)="login(loginForm.value)" action="#" #loginForm="ngForm">
      <h1>Bine ai revenit!</h1>
      <input ngModel name="email" type="email" placeholder="Email" />
      <input ngModel name="password" type="password" placeholder="Password" />
      <a href="#">Ți-ai uitat parola ?</a>
      <button type="submit" id="true_login">Conectează-te</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bine ai venit pe QuizMatrix!</h1>
        <p>
          <b>
            Pregătește-te să-ți testezi cunoștințele! Pentru a începe această
            călătorie interesantă, vă rugăm să vă conectați cu datele
            personale.</b
          >
        </p>
        <button class="slider" id="login">Conectează-te</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Înceară QuizMatrix acum!</h1>
        <p>
          <b>
            Imbarcați-vă într-o călătorie interesantă cu noi! Creați-vă contul
            pentru a debloca o lume de cunoștințe și distracție. Introduceți
            detaliile personale de mai jos pentru a începe!
          </b>
        </p>

        <button class="slider" id="register">Înregistrează-te</button>
      </div>
    </div>
  </div>
</div>
