<div class="container" id="container">
  <div class="form-container register-container">
    <form action="#">
      <h1>Să creăm un cont</h1>
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
      <button>Înregistrează-te</button>
    </form>
  </div>

  <div class="form-container login-container">
    <form action="#">
      <h1>Bine ai revenit!</h1>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Ți-ai uitat parola ?</a>
      <button>Conectează-te</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bine ai venit pe QuizMatrix!</h1>
        <p>
          <b>
            Pregătește-te să-ți testezi cunoștințele! Pentru a începe această
            călătorie interesantă, vă rugăm să vă conectați cu datele
            personale.</b
          >
        </p>
        <button class="slider" id="login">Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Înceară QuizMatrix acum!</h1>
        <p>
          <b>
            Imbarcați-vă într-o călătorie interesantă cu noi! Creați-vă contul
            pentru a debloca o lume de cunoștințe și distracție. Introduceți
            detaliile personale de mai jos pentru a începe!
          </b>
        </p>

        <button class="slider" id="register">Înregistrează-te</button>
      </div>
    </div>
  </div>
</div>
