<div class="container" id="container">
  <div class="form-container register-container">
    <form action="#">
      <h1>Let's Create Your Account</h1>
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
      <button>Register</button>
    </form>
  </div>

  <div class="form-container login-container">
    <form action="#">
      <h1>Welcome Back!</h1>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>Login</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome to QuizMatrix!</h1>
        <p>
          <b>
            Get ready to test your knowledge! To embark on this exciting
            journey, please log in with your credentials.</b
          >
        </p>
        <button class="slider" id="login">Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Join QuizMatrix now!</h1>
        <p>
          <b>
            Embark on an exciting journey with us! Create your account and
            unlock a world of knowledge and fun. Enter your personal details
            below to get started!
          </b>
        </p>

        <button class="slider" id="register">Register</button>
      </div>
    </div>
  </div>
</div>
