<button mat-raised-button class="backBtn" (click)="goBack()">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Back
</button>

<h1>Teste <span class="parcurse">parcurse</span></h1>

<br />
<div class="tests-table">
  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Nume Test</th>
        <th>Scor</th>
        <th>Durată</th>
        <th>Domeniu</th>
        <th>Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of teste">
        <td>
          <img src="{{ test.icon }}" alt="Icon" />
        </td>
        <td>{{ test.nume }}</td>
        <td>{{ test.scor }}</td>
        <td>{{ test.durata }}</td>
        <td>{{ test.domeniu }}</td>
        <td class="actiuni-cell">
          <button mat-raised-button routerLink="/quiz">
            Reîntoarcere la test
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
