<button mat-raised-button class="backBtn" (click)="goBack()">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Back
</button>

<h1>Teste <span class="parcurse">parcurse</span></h1>

<br />
<div class="tests-table">
  <table>
    <thead>
      <tr>
        <th>Nume Test</th>
        <th>Durată</th>
        <th>Data completării</th>
        <th>Scor</th>
        <th>Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of teste">
        <td>{{ test.quiz.title }}</td>
        <td>{{ test.quiz.time }} minute</td>
        <td>{{ test.date_completed }}</td>
        <td>{{ test.score }}</td>
        <td class="actiuni-cell">
          <button mat-raised-button routerLink="/quiz">
            Reîntoarcere la test
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
