<div class="container">
  <div *ngFor="let slidePair of visibleSlidePairs; let i = index" class="pair">
    <div *ngFor="let slide of slidePair" class="box">
      <div class="imgBx">
        <img src="{{ slide }}" alt="Slide {{ i }}" />
      </div>
    </div>
  </div>
</div>

<div class="buttons_carousel">
  <button (click)="goToPreviousPair()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="carousel-bullets">
    <span
      *ngFor="let _ of getTotalPairs(); let index = index"
      class="bullet"
      [class.active]="isActivePair(index)"
      (click)="goToPair(index)"
    ></span>
  </div>

  <button (click)="goToNextPair()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<div class="right">
  <p>
    <b>Bine ai venit pe QuizMatrix!</b><br /><br /><br />
    Soluția web perfectă pentru testarea cunoștințelor în diferite domenii! Fie
    că sunteți student sau profesor, proiectul nostru vă ajută să consolidați și
    să verificați cunoștințele esențiale în informatică, anatomie, chimie,
    filozofie, biologie și multe altele.

    <ng-container *ngIf="!storageService.isLoggedIn()">
      <a routerLink="/login"><b>Înregistrează-te</b></a> acum pentru a profita
      de toate avantajele oferite!
    </ng-container>

    <ng-container *ngIf="storageService.isLoggedIn()">
      <a routerLink="/my-account"><b>Înregistrează-te</b></a> acum pentru a
      profita de toate avantajele oferite!
    </ng-container>
  </p>
</div>
