<h1>Contul <span class="meu">meu</span></h1>

<div class="elements">
  <ul>
    <li routerLink="/my-account">Contul meu</li>
    <li routerLink="/completed-tests">Testele parcurse de mine</li>
    <li routerLink="/favorite-tests">Favorite</li>
    <!-- <li routerLink="/edit-account">Informații cont</li> -->
  </ul>

  <div class="info-cont">
    <h3 class="info-h3">Informații de contact</h3>
    <div class="info-user">
      <h3>{{ utilizator.firstname + " " + utilizator.lastname }}</h3>
      <h3>{{ utilizator.email }}</h3>
      <button mat-raised-button routerLink="/forgot-password">
        Resetare parolă
      </button>
    </div>
  </div>
</div>
