<button mat-raised-button class="backBtn" (click)="goBack()">
  <mat-icon class="iconBack">arrow_back</mat-icon>
  Back
</button>
<h1>Teste <span class="favorite">favorite</span></h1>

<br />
<div class="tests-table">
  <table>
    <thead>
      <tr>
        <th>Nume Test</th>
        <th>Durată</th>
        <th>Data creării</th>
        <th>Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of teste">
        <td>{{ test.quiz.title }}</td>
        <td>{{ test.quiz.time }} minute</td>
        <td>{{ test.quiz.creation_date }}</td>
        <td class="actiuni-cell">
          <button mat-raised-button class="btn2" (click)="removeFromFavorites(test.quiz.id_quiz)">Elimină din favorite</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>