<div class="top">
  <h1>Resetare parolă</h1>
  <p>Completați pentru a seta o nouă parolă<br /></p>
</div>

<form [formGroup]="formGroup" (ngSubmit)="submitForm_reset()">
  <mat-form-field appearance="outline" class="input">
    <mat-label>Parolă</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Enter password here..."
    />
    <mat-icon matSuffix>password_outline</mat-icon>
    <mat-error
      *ngIf="password.hasError('minLength') && !password.hasError('required')"
    >
      Întroduce-ti o parolă cu minim 8 caractere.
    </mat-error>
    <mat-error *ngIf="password.hasError('required')">
      Parolă este <strong>necesare.</strong>
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    class="btn"
    type="submit"
    [disabled]="formGroup.invalid || isSent"
  >
    {{ isSent ? "Trimis" : "Trimite" }}
  </button>

  <a
    routerLink="/signin"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    id="back"
    >Înapoi la pagina de înregistrare</a
  >
</form>
