<div class="top">
    <h1>Reset password</h1>
    <p>
      Please enter your new password down below<br />
    </p>
  </div>
  
  <form [formGroup]="formGroup" (ngSubmit)="submitForm_reset()">
    <mat-form-field appearance="outline" class="input">
      <mat-label>E-mail</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Enter password here..."
      />
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="password.hasError('minLength') && !password.hasError('required')">
        Please enter a password longer than 8 characters.
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required.</strong>
      </mat-error>
    </mat-form-field>
  
    <button
      mat-raised-button
      class="btn"
      type="submit"
      [disabled]="formGroup.invalid || isSent"
    >
      {{ isSent ? "Sent" : "Send" }}
    </button>
  
    <a
      routerLink="/signin"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      id="back"
      >Back to sign in page</a
    >
  </form>
  