.tests {
  position: relative;
  width: 500px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(7, 46, 71, 0.5), 0 0 20px rgba(4, 76, 122, 0.3);
}
.images {
  width: 200px;
  height: 200px;
  margin-left: -300px;
}
.content {
  margin-top: -150px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
