.tests {
  position: relative;
  width: 500px;
  height: 200px;
  border: 1px solid #25283d;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #9e768f, -1px -1px 5px #22222222;
}
.images {
  width: 150px;
  height: 150px;
}
.content {
  margin-top: -90px;
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
